/node_modules/
/frontend/my-app/node_modules/

/frontend/my-app/.env.local
/frontend/my-app/.env.development.local
/frontend/my-app/.env.test.local
/frontend/my-app/.env.production.local

backend/config/config.env
.env.production
node_modules